<!DOCTYPE html>
<html>
<link rel="stylesheet" href="../static/css/valid.css">
<body>
<form>
<h1>Form Validation</h1>
<div class="tag1">
    <div>
    <input type="text" class="name" id="name" placeholder="Enter Your Name">
    </div>
	<div>
   <p class="test" id="result1"></p>
	</div>
</div>
<div class="tag2">
    <div>
    <input  class="num" id="num" placeholder="Enter Phone Number">
    </div>
    <div >
	<p id="result2"class="res"></p>
	</div>
</div>

<div class="but">
<button type="button" onclick="check()">Submit</button>
</div>
</form>
<script src="../static/js/script.js">
</script>
</body>
</html>

